@import 'abstract/variables.scss';

.box-footer-test{
   width: 100%;
}

.text-footer-test{
    text-align: center;
}

.h3-footer-test{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background: black;
    color: white;
}

.hr-footer-test{
   margin-top: 0px;
   width: 370px;
   border: 1px solid #4a545b;
}

.box-list-footer-test{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    font-size: large;
}

.text-in-link-footer-test{
    margin: 10px;
}

.img-footer-test{
    border: 1px solid black;
    width: 400px;
    height: 200px;
}

.link-footer-test{
    transition: transform .2s;
    background: black;
    color: White;
    margin: 5px;
}

.link-footer-test:hover{
    transform: scale(1.1);
}

.breadcrumb.cms-breadcrumb.container{
    padding: 0px;
    margin: 0px;
}

.footer-main{
    border: 0px;
}
