{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation %}
<div class="box-footer-test">
    <div class="text-footer-test">
        <h3 class="h3-footer-test">
            Our Buildings Around The World
        </h3>
    </div>

    <div class="media-footer-test">
        <ul class="box-list-footer-test">
            
            <li class="link-footer-test">
                <img src="https://www.ecologiq.pl/images/demo-6-site-image07a.jpg" class="img-footer-test">
                <p class="text-in-link-footer-test"><b>New Zeland</b></p>
            </li>

            <li class="link-footer-test">
                <img src="https://www.homesquare.pl/files/uploads/2016/11/Projekt-budynku-wielorodzinnego.jpg" class="img-footer-test">
                <p class="text-in-link-footer-test"><b>New Zeland</b></p>
            </li>

            <li class="link-footer-test">
                <img src="https://www.whitemad.pl/wp-content/uploads/2017/10/lot2.jpg" class="img-footer-test">
                <p class="text-in-link-footer-test"><b>Poland</b></p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}