
.box-header-logo{
    transition: transform .2s;
    padding-left: 10px;
    padding-right: 10px;
    background: black;
}

.h1-header-logo{
    color: white;
}

.box-header-logo:hover{
    transform: scale(1.1);
}

.img-carousel{
    height: 600px;
    width: 100%;
}

.navigation-flyout{
    width: 500px;
    margin-left: 400px;
}

.navigation-flyout .container{
    width: 500px;
}

.box-carousel-slide{
    border: 1px solid black;
    width: 100%;
}

.container-main{
    padding: 0px;
    margin: 0px;
}

.form-control.header-search-input{
    transition: transform .2s;
    border-radius: 30px;
}
.form-control.header-search-input:hover{
    transform: scale(1.1);
}

.cms-section-default .boxed{
    padding-left: 0px;
    padding-right: 0px;
}

.main-navigation-link-text{
    font-size: 20px;
    color: white;
    transition: transform .2s;
}

.main-navigation-link-text:hover{
    transform: scale(1.1);
}

.nav-main{
    width: 100%;
    background: #1ba6b3;
}

.nav.main-navigation-menu{
    display: flex;
    justify-content: space-around;
}

.breadcrumb-title{
    background: black;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    margin-left: 5px;
    padding: 5px;
    transition: transform .2s;
}

.breadcrumb-item:hover{
    transform: scale(1.1);
}

