{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{% block layout_header_logo_link %}
   <div class="box-header-logo">
        <h1 class="h1-header-logo">Welcome, on our site !</h1>
   </div>
{% endblock %}